<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Life Wish</key>
	<string>Bungee jump from the highest spot.</string>
	<key>Job</key>
	<string>App Developer</string>
	<key>Gender</key>
	<string>Male</string>
	<key>Martial Status</key>
	<false/>
	<key>Nation</key>
	<array>
		<string>Chosun</string>
		<string>Korea</string>
	</array>
	<key>Age</key>
	<integer>27</integer>
	<key>Name</key>
	<string>hKim</string>
</dict>
</plist>
